# 1.3 Python *Lists*  

- [Python Lists](#Python-Lists) 
- [Creating a List](#Creating-a-List)  
- [List Indexes](#List-Indexes)
- [Appending values to a List](#Appending-values-to-a-List)  
- [Checking if a value is in a List](#Checking-if-a-value-is-in-a-List)  
- [Sorting a List](#Sorting-a-List)  
- [Formatting Dollar Amounts](#Formatting-Dollar-Amounts)

# Python Lists  
- A Variable contains a single value.  A List contains a collection of values.  
- We will use Lists all the time when working with data.   
![Mailbox](Images/ListMailbox.png)

# Creating a List

In [ ]:
# Create a List named customer_names
customer_names = ["Janet Baker", 
                  "George Lee", 
                  "Sue Li", 
                  "Samuel Hoosier", 
                  "Sandra Weeks", 
                  "William Macy", 
                  "Andy Harrison", 
                  "Ken Ford", 
                  "Denny Franks",
                  "Shawn James"]

print(customer_names)

**Copy the following code into the code cell below and run it:**  
```Python
# Create a List with test scores in it
exam_scores = [89, 93, 78, 92]

# Display it 
print(exam_scores)
```

# List Indexes
Lists are indexed starting with zero.

In [ ]:
print(customer_names)

In [ ]:
# Display the first value in the customer_names List
customer_names[0]

In [ ]:
# Display the second value in the customer_names List
customer_names[1]

In [ ]:
print(exam_scores)

In [ ]:
# Display the first value in the exam_scores List
exam_scores[0]

# Appending values to a List

In [ ]:
# Appending values to the customer_names List
customer_names.append("Dan Clapper")
customer_names.append("Anne Massey")

print(customer_names)

# Checking if a value is in a List  
- Use the *in* keyword 
- It will return True if it is in the List or False if it is not

In [ ]:
print(customer_names)

**Copy the following code into the code cell below and run it:**  
```Python
# Check if value is in the List
is_in_list = 'Ken Ford' in customer_names

# Display result
print(is_in_list)
```

# Sorting a List

### Sorting a List with String Values

In [ ]:
print("List before Sorting:  ", customer_names)

In [ ]:
#Sorting a list (Ascending by default)
customer_names.sort()

print("List AFTER Sorting:  ", customer_names)

In [ ]:
#Sorting a list: (Descending)
customer_names.sort(reverse=True)

print("List AFTER Sorting - Descending :  ", customer_names)

### Sorting a List with Numeric Values  
**Copy the following code into the code cells below -- where they belong -- and run them:**  
```Python

full = [10.75, 20.0, 18.0, 11.25, 9.5]

print("Unsorted List: ", full)

full.sort()

print("Sorted List:  ", full)

full.sort(reverse=True)

print(full)
```

In [ ]:
# Create a list named full with numeric values to sort


# Display List

In [ ]:
# Sort List in ascending order (default)


# Display sorted list

In [ ]:
# Sort List in descending order then display


# Display sorted list

# Formatting Dollar Amounts

In [ ]:
salary = 80000

# Display salary formatted as dollars - with two decimal places
print('${:,.2f}'.format(salary))

In [ ]:
# Display salary formatted as dollars - with zero decimal places
print('${:,.0f}'.format(salary))

In [ ]:
# Display with text
print("The value for monthly_sales is: ", '${:,.2f}'.format(salary))